<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            text-align: center;
        }
        a {
            margin-top: 20px;
            font-size: 18px;
            text-decoration: none;
            color: blue;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<h2>서윤이가 꾸며줄 메인 사이트 ^-^&@</h2>
<p>2025.04.27 01:36 진격거 보고와서 조@뺑이 치는중.. </p>
<img src="/images/seoyun.jpeg" alt="Logo" width="200">

<!-- 링크 추가 -->
<!-- Solved.ac 호출 API가 10분에 256회 제한이 있어서 디비에 저장하는 캐싱 과정이 필요할듯.. 레디스? -->
<a href="/profiles">님다시큐리티 백준 티어 랭킹</a>
</body>
</html>